// COLORS

$color-base: #000;

// Foreground colors
$color-fore-01: #333;
$color-fore-02: rgba(256,256,244,1);
$color-fore-03: orange;

// Background colors
$color-back-01: rgba(256,256,244,1);
$color-back-02: darken($color-back-01, 100);

// Alert colors