// LAYOUT

// Padding flow content
$padding-xs: 1em;
$padding-s: 0.5em;
$padding-m: 1em;
$padding-l: 1em;

// Padding content sections
$section-padding-s: 2em 7%;
$section-padding-m: 3.5em 17%;
$section-padding-l: 3.5em 4%;
$section-padding-xl: 5em 23%;

// Stroke widths
$stroke-width-m: 0.1em;