// BASE

html {
	height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit; // https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
}

body {
  height: 100%;
  margin: 0;
}